:root {
  --background: #f5e1e1;
  --foreground: #171717;
  --icon-color: #171717;
  --link-color: #171717;
  --card-color: #5c6bc0;
  --tech-color: #0470e2;
}

body.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --icon-color: #ededed;
  --link-color: #ededed;
  --card-color: #81d4fa;
  --tech-color: #4ec9b0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s, color 0.3s;
}

* {
  box-sizing: border-box;
}

a {
  color: var(--link-color);
  text-decoration: none;
}